<div class="padding">
    <md-tab-group>
        <md-tab *ngIf="authService.isUserAuthenticated()===false" label="Log In">
            <app-login></app-login>
        </md-tab>
        <md-tab *ngIf="authService.isUserAuthenticated()===true" label="Content">
            <app-admin-content></app-admin-content>
        </md-tab>
        <md-tab *ngIf="authService.isUserAuthenticated()===true" label="Log out">

            <button md-raised-button color="primary" type="button" (click)="logout()">Logout</button>
        </md-tab>
        <md-tab *ngIf="authService.isUserAuthenticated()===false" label="Register">
            <app-register></app-register>
        </md-tab>
    </md-tab-group>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button md-raised-button color="primary" type="button" (click)="getData()">Test</button>
    </div>
    <router-outlet></router-outlet>
</div>