@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/scss/sanitize';
@import './assets/scss/mixins';





$main: #4c4c4c;
$red: #c91925;





body {
	color: $main;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.wrap {
	width: 1200px;
	margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}




// Header
.header {
	background-color: #ffffff;
	padding: 15px 0;
	position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
	.wrap {
		@include display-flex;
		@include space-between;
		@include align-items-center;
	}
	&-actions {		
		@include display-flex;
		@include align-items-center;
	}
	.hamburger[_ngcontent-c6] {
	    font-size: 14px;
	    float: none;
	    display: inline-block;
	    width: 25px;
	    height: 16px;
	    padding: 0;
		margin-top: -5px;
	    margin-left: 15px;
		&:hover {
			&:before, & .icon[_ngcontent-c6], &:after {
			    background-color: $red;
			}
		}
	}	
	.hamburger[_ngcontent-c6]:before, .hamburger[_ngcontent-c6]   .icon[_ngcontent-c6], .hamburger[_ngcontent-c6]:after {
	    height: 2px;
	    margin: 0 0 5px;
	    background-color: $main;
		@include transition(.35s);
	}	
	.hamburger.hamburger-arrow-left.is-active[_ngcontent-c6]:before {
	    width: 10px;
	}
	.hamburger.hamburger-arrow-left.is-active[_ngcontent-c6]:after {
	    width: 10px;
	}	
	.hamburger.is-active[_ngcontent-c6]:before, .hamburger.is-active[_ngcontent-c6] .icon[_ngcontent-c6], .hamburger.is-active[_ngcontent-c6]:after {
	    background-color: $main;
	}	
}


.nav {
	&-item {
		display: inline-block;
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}
	&-link {
		text-decoration: none;
		font-size: 14px;
		line-height: 14px;
		color: #4c4c4c;
		text-transform: uppercase;
		font-weight: 700;
		display: block;
		position: relative;
		@include transition(.35s);
		&:hover {
			color: $red;
			&:before {
				width: 100%;
				@include opacity(1);
				background-color: $red;
			}
		}
		&:before {
			content: '';
			width: 0;
			height: 2px;
			top: -4px;
			background-color: $main;
			@include opacity(0);
			position: absolute;
			left: 50%;
			@include translateX;
			@include transition(.35s);
		}
	}
}


.lang {
	display: inline-block;
	position: relative;
	&:hover {
		.mat-select-value-text {
		    color: $red;
		}
	}
	.mat-select {
	    padding: 0;
	    display: block;
	}
	.mat-select-underline {
	    display: none;
	}
	.mat-select-trigger {
	    min-width: auto;
	    border: 0;
		width: 20px;
		height: auto;
	}
	.mat-select-arrow {
	    display: none;
	}
	.mat-select-value-text {
	    line-height: 14px;
	    font-size: 14px;
	    text-transform: uppercase;
	    font-weight: 700;
	    color: $main;
		@include transition(.35s);
	}
	.mat-select-value {
	    max-width: 100%;
	    width: auto;
	    display: block;
	    position: relative;
	}	
	.mat-select-placeholder {
	    padding: 0;
	}
}
.mat-option {
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: $main;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $red;
}


.admin-nav {
	display: inline-block;
}





// Main Page
.main {
	width: 100%;
	height: 100vh;
	background-image: url(./assets/images/main_bg.jpg);
	background-position: 50% 50%;
    background-repeat: no-repeat;
    @include background-cover;
    position: relative;
}
.main-logo {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
	&_img {
		width: 383px;
		height: 183px;
		background-image: url(./assets/images/main_logo.png);
		background-position: 50% 50%;
	    background-repeat: no-repeat;	
	    margin: 0 auto 15px auto;	
	}
	&_text {
		color: #ffffff;
		font-size: 28px;
		line-height: 30px;
	}
}

.customClass {
	background-color: #dfdfdf;
	border-radius: 5px;
	margin:5px;
	width: 500px;
}

.customClass .img-ul-upload {
	background-color: #7f0009 !important;
}

.customClass .img-ul-clear {
	background-color: #7f0009 !important;
}

.customClass .img-ul-drag-box-msg {
	color: #7f0009 !important;
}

.customClass .img-ul-container {
	background-color: #b4364c !important;
}