<section class="main">
    <h1 class="visually-hidden">Ukraine Secrets</h1>
    <div class="main-logo">
        <div class="main-logo_img"></div>
        <span class="main-logo_text">All about Ukrainian brands</span>
    </div>
</section>



<!-- <div>
    <h1 translate>Title</h1>
    <div>
        {{ 'Intro' | translate:user }}
    </div>

    <div>
        {{ 'Startpage.TranslationSections' | translate }}
    </div>

    <div>
        {{ 'Aboutpage.TranslationSections' | translate }}
    </div>
    <br/>
</div> -->
<mat-card>
    <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="end center">
            <div fxLayout="row" fxFlex="50%" fxLayoutAlign="start center">
                Brand Name
            </div>
            <div fxLayout="row" fxFlex="50%" fxLayoutAlign="end center">
                <button (click)="goToNavParams({parent:'showroom', children:['brandName']})" color="primary" mat-raised-button>Cabinet</button>
                <button (click)="goToNavParams({parent:'brand', children:['brandName']})" color="primary" mat-raised-button>Showroom</button>
                <button (click)="goToNavParams({parent:'events', children:['brandName']})" color="primary" mat-raised-button>Events</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>