<ul>
    <li style="padding: 5px">
        <a href="javascript:void(0)"
           (click)="goToNavParams({parent:'admin', children:['cabinet']})" mat-line>Cabinet</a>
    </li>
    <li style="padding: 5px">
        <a href="javascript:void(0)"
           (click)="goToNavParams({parent:'admin', children:['showroom']})" mat-line>Showroom</a>
    </li>
    <li style="padding: 5px">
        <a href="javascript:void(0)"
           (click)="goToNavParams({parent:'admin', children:['events']})" mat-line>Events</a>
    </li>
</ul>
