<!--<md-list>
    <md-list-item>
        &lt;!&ndash;<md-icon md-list-icon>folder</md-icon>&ndash;&gt;
        <a href="javascript:void(0)"
           (click)="goToNavParams({parent:'admin', children:['cabinet']})" md-line>Cabinet</a>
    </md-list-item>
    <md-list-item>
        &lt;!&ndash;<md-icon md-list-icon>folder</md-icon>&ndash;&gt;
        <a href="javascript:void(0)"
           (click)="goToNavParams({parent:'admin', children:['showroom']})" md-line>Showroom</a>
    </md-list-item>
    <md-list-item>
        &lt;!&ndash;<md-icon md-list-icon>folder</md-icon>&ndash;&gt;
        <a href="javascript:void(0)"
           (click)="goToNavParams({parent:'admin', children:['events']})" md-line>Events</a>
    </md-list-item>
</md-list>-->

<ul>
    <li style="padding: 5px">
        <a href="javascript:void(0)"
           (click)="goToNavParams({parent:'admin', children:['cabinet']})" md-line>Cabinet</a>
    </li>
    <li style="padding: 5px">
        <a href="javascript:void(0)"
           (click)="goToNavParams({parent:'admin', children:['showroom']})" md-line>Showroom</a>
    </li>
    <li style="padding: 5px">
        <a href="javascript:void(0)"
           (click)="goToNavParams({parent:'admin', children:['events']})" md-line>Events</a>
    </li>
</ul>
